.u-section-1 {
    background-image: none;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 898px;
  }
  
  .u-section-1 .u-blog-1 {
    margin: 125px 0 0;
  }
  
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    grid-gap: 22px 22px;
    min-height: 632px;
  }
  
  .u-section-1 .u-repeater-item-1 {
    background-image: none;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px 0;
  }
  
  .u-section-1 .u-image-1 {
    width: 279px;
    right: auto;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-group-1 {
    width: 280px;
    min-height: 245px;
    background-size: auto;
    margin: 0 0 0 auto;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 0 30px;
  }
  
  .u-section-1 .u-metadata-1 {
    font-size: 0.875rem;
    margin: 0;
  }
  
  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.5rem;
    text-transform: none;
  }
  
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 20px;
    font-style: italic;
  }
  
  .u-section-1 .u-btn-1 {
    border-style: solid;
    margin: 30px 0 0;
    padding: 0;
  }
  
  .u-section-1 .u-repeater-item-2 {
    background-size: auto;
  }
  
  .u-section-1 .u-container-layout-3 {
    padding: 30px 0;
  }
  
  .u-section-1 .u-image-2 {
    width: 279px;
    right: auto;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-group-2 {
    width: 280px;
    min-height: 245px;
    background-size: auto;
    margin: 0 0 0 auto;
  }
  
  .u-section-1 .u-container-layout-4 {
    padding: 0 30px;
  }
  
  .u-section-1 .u-metadata-2 {
    font-size: 0.875rem;
    margin: 0;
  }
  
  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.5rem;
    text-transform: none;
  }
  
  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 20px;
    font-style: italic;
  }
  
  .u-section-1 .u-btn-2 {
    border-style: solid;
    margin: 30px 0 0;
    padding: 0;
  }
  
  .u-section-1 .u-repeater-item-3 {
    background-size: auto;
  }
  
  .u-section-1 .u-container-layout-5 {
    padding: 30px 0;
  }
  
  .u-section-1 .u-image-3 {
    width: 279px;
    right: auto;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-group-3 {
    width: 280px;
    min-height: 245px;
    background-size: auto;
    margin: 0 0 0 auto;
  }
  
  .u-section-1 .u-container-layout-6 {
    padding: 0 30px;
  }
  
  .u-section-1 .u-metadata-3 {
    font-size: 0.875rem;
    margin: 0;
  }
  
  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.5rem;
    text-transform: none;
  }
  
  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 20px;
    font-style: italic;
  }
  
  .u-section-1 .u-btn-3 {
    border-style: solid;
    margin: 30px 0 0;
    padding: 0;
  }
  
  .u-section-1 .u-repeater-item-4 {
    background-size: auto;
  }
  
  .u-section-1 .u-container-layout-7 {
    padding: 30px 0;
  }
  
  .u-section-1 .u-image-4 {
    width: 279px;
    right: auto;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-group-4 {
    width: 280px;
    min-height: 245px;
    margin: 0 0 0 auto;
  }
  
  .u-section-1 .u-container-layout-8 {
    padding: 0 30px;
  }
  
  .u-section-1 .u-metadata-4 {
    font-size: 0.875rem;
    margin: 0;
  }
  
  .u-section-1 .u-text-7 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.5rem;
    text-transform: none;
  }
  
  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 20px;
    font-style: italic;
  }
  
  .u-section-1 .u-btn-4 {
    border-style: solid;
    margin: 30px 0 0;
    padding: 0;
  }
  
  .u-section-1 .u-text-9 {
    margin: 30px auto 60px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 552px;
    }
  
    .u-section-1 .u-blog-1 {
      height: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-image-1 {
      width: 234px;
      left: 0;
      margin-bottom: initial;
    }
  
    .u-section-1 .u-group-1 {
      width: 225px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-1 .u-image-2 {
      width: 234px;
      left: 0;
      margin-bottom: initial;
    }
  
    .u-section-1 .u-group-2 {
      width: 225px;
    }
  
    .u-section-1 .u-container-layout-4 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-1 .u-image-3 {
      width: 234px;
      left: 0;
      margin-bottom: initial;
    }
  
    .u-section-1 .u-group-3 {
      width: 225px;
    }
  
    .u-section-1 .u-container-layout-6 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-1 .u-image-4 {
      width: 234px;
      left: 0;
      margin-bottom: initial;
    }
  
    .u-section-1 .u-group-4 {
      width: 225px;
    }
  
    .u-section-1 .u-container-layout-8 {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1186px;
    }
  
    .u-section-1 .u-image-1 {
      height: 253px;
      margin-top: -30px;
      margin-bottom: 0;
      width: auto;
      left: auto;
      bottom: auto;
      right: auto;
      top: auto;
    }
  
    .u-section-1 .u-group-1 {
      min-height: 240px;
      margin-top: -1px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-top: 30px;
    }
  
    .u-section-1 .u-image-2 {
      height: 253px;
      margin-top: -30px;
      margin-bottom: 0;
      width: auto;
      left: auto;
      bottom: auto;
      right: auto;
      top: auto;
    }
  
    .u-section-1 .u-group-2 {
      min-height: 240px;
      margin-top: -1px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-container-layout-4 {
      padding-top: 30px;
    }
  
    .u-section-1 .u-image-3 {
      height: 253px;
      margin-top: -30px;
      margin-bottom: 0;
      width: auto;
      left: auto;
      bottom: auto;
      right: auto;
      top: auto;
    }
  
    .u-section-1 .u-group-3 {
      min-height: 240px;
      margin-top: -1px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-container-layout-6 {
      padding-top: 30px;
    }
  
    .u-section-1 .u-image-4 {
      height: 253px;
      margin-top: -30px;
      margin-bottom: 0;
      width: auto;
      left: auto;
      bottom: auto;
      right: auto;
      top: auto;
    }
  
    .u-section-1 .u-group-4 {
      min-height: 240px;
      margin-top: -1px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-container-layout-8 {
      padding-top: 30px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-container-layout-1 {
      padding-top: 20px;
    }
  
    .u-section-1 .u-image-1 {
      height: 299px;
      margin-top: -20px;
      width: auto;
    }
  
    .u-section-1 .u-group-1 {
      min-height: 163px;
      margin-top: 0;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-1 .u-container-layout-3 {
      padding-top: 20px;
    }
  
    .u-section-1 .u-image-2 {
      height: 299px;
      margin-top: -20px;
      width: auto;
    }
  
    .u-section-1 .u-group-2 {
      min-height: 163px;
      margin-top: 0;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-container-layout-4 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-1 .u-container-layout-5 {
      padding-top: 20px;
    }
  
    .u-section-1 .u-image-3 {
      height: 299px;
      margin-top: -20px;
      width: auto;
    }
  
    .u-section-1 .u-group-3 {
      min-height: 163px;
      margin-top: 0;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-container-layout-6 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-1 .u-container-layout-7 {
      padding-top: 20px;
    }
  
    .u-section-1 .u-image-4 {
      height: 299px;
      margin-top: -20px;
      width: auto;
    }
  
    .u-section-1 .u-group-4 {
      min-height: 163px;
      margin-top: 0;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-container-layout-8 {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-repeater-1 {
      grid-template-columns: 100%;
    }
  } .u-section-2 {
    min-height: 592px;
  }
  
  .u-section-2 .u-slider-1 {
    min-height: 592px;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-2 .u-carousel-indicators-1 {
    position: absolute;
    bottom: 10px;
    width: auto;
    height: auto;
  }
  
  .u-section-2 .u-image-1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/34c244ea38101f3b22dd579196dd4bce3b0f7b6489962f55e5d345a697a883316b742839f304f5ea089f59f3c8faf7da3a1b167cf74f9f1a7ac619_1280.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding: 0;
  }
  
  .u-section-2 .u-text-1 {
    margin: 229px auto 0;
  }
  
  .u-section-2 .u-btn-1 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 88px auto 0;
  }
  
  .u-section-2 .u-image-2 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/a6da91b90df10453f229eb9d6565f56b11b34855db95ee8b7199919f3b508cf8af4f86b67c0a5961bcb38a9e7c61334953b89b2811ae7ea121edbc_1280.jpg");
    background-position: 50% 50%;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }
  
  .u-section-2 .u-text-2 {
    margin: 240px auto 0;
  }
  
  .u-section-2 .u-btn-2 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 63px auto 0;
  }
  
  .u-section-2 .u-image-3 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/310dc7d4f2898631f701ab8e1dafafdf6a3d9c4984588cbdd6d598225381ca45ef844decda7edb4d49ce10d97a05f9eded5fb604aaf8060d636d71_1280.png");
    background-position: 50% 50%;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-2 .u-container-layout-3 {
    padding: 30px 60px;
  }
  
  .u-section-2 .u-text-3 {
    margin: 180px auto 0;
  }
  
  .u-section-2 .u-btn-3 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 60px auto 0;
  }
  
  .u-section-2 .u-image-4 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/310dc7d4f2898631f701ab8e1dafafdf6a3d9c4984588cbdd6d598225381ca45ef844decda7edb4d49ce10d97a05f9eded5fb604aaf8060d636d71_1280.png");
    background-position: 50% 50%;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-2 .u-container-layout-4 {
    padding: 30px 60px;
  }
  
  .u-section-2 .u-text-4 {
    margin: 180px auto 0;
  }
  
  .u-section-2 .u-btn-4 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 60px auto 0;
  }
  
  .u-section-2 .u-carousel-control-1 {
    width: 49px;
    height: 49px;
    left: 14px;
    position: absolute;
    right: auto;
  }
  
  .u-section-2 .u-carousel-control-2 {
    width: 49px;
    height: 49px;
    left: auto;
    position: absolute;
    right: 14px;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-text-1 {
      width: auto;
      margin-right: 306px;
      font-size: 2.25rem;
    }
  
    .u-section-2 .u-btn-1 {
      margin-top: 67px;
      margin-right: 424px;
    }
  
    .u-section-2 .u-carousel-control-1 {
      padding: 8px;
    }
  
    .u-section-2 .u-carousel-control-2 {
      padding: 8px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-text-1 {
      margin-top: 234px;
      margin-right: auto;
      margin-left: 190px;
    }
  
    .u-section-2 .u-btn-1 {
      margin-top: 53px;
      margin-right: auto;
    }
  
    .u-section-2 .u-container-layout-3 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-2 .u-container-layout-4 {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-text-1 {
      margin-top: 230px;
      margin-left: auto;
    }
  
    .u-section-2 .u-btn-1 {
      margin-top: 57px;
    }
  
    .u-section-2 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-text-1 {
      font-size: 1.875rem;
    }
  }
  #preloader{
    background: rgb(185, 146, 146) url(https://media4.giphy.com/media/QunaRcZPYFgpbrBi9C/giphy.gif?cid=6c09b952b9f1d454bd078c458bb05e8760c99dc657985bb5&rid=giphy.gif&ct=s) no-repeat center center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
  }